<div class="px-4 py-4 sm:px-6">
  <div class="flex items-center justify-between">
    <div class="text-sm leading-5 font-medium text-<%= color %>-800 truncate">
      <%= assignment.title_with_id %>
    </div>
    <div class="ml-2 flex-shrink-0 flex">
      <span class='<%= "px-2 inline-flex text-xs leading-5 font-semibold rounded-full text-white #{assignment.active? ? 'bg-blue-500' : 'bg-red-500'}" %>'>
        <%= assignment.status.capitalize %>
      </span>
    </div>
  </div>
  <div class="mt-2 sm:flex sm:justify-between">
    <div class="sm:flex">
      <div class="mr-6 flex items-center text-sm leading-5 text-gray-500">
        <%= "#{assignment.from_language.capitalize} -> #{assignment.to_language.capitalize}" %>
      </div>
    </div>
    <div class="mt-2 flex items-center text-sm leading-5 text-gray-500 sm:mt-0">
      <span><%= "#{assignment.translation_files.length} files" %></span>
    </div>
  </div>
</div>
